# https://git-scm.com/docs/gitignore
# https://help.github.com/articles/ignoring-files
# Example .gitignore files: https://github.com/github/gitignore
/bower_components/
/node_modules/
*.js.map
*.component.js
*.module.js
*.DS_Store
*.service.js
*/app/*.js